@config "../../tailwind.config.ts";
@import "tailwindcss";

@theme inline {
  --color-primary: #80BDDF;
  --color-secondary: #FF88C2;
  --color-black: #18181B;
  --color-white: #ffffff;
  --color-gray: #E5E7EB;

  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-25: 25px;
  --spacing-30: 30px;
  --spacing-40: 40px;
  --spacing-60: 60px;
  --spacing-110: 110px;
  --spacing-150: 150px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-12: 12px;
  --text-18: 18px;
  --text-22: 22px;
  --text-28: 28px;
  --text-30: 30px;
  --text-48: 48px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --radius-8: 8px;
  --radius-24: 24px;
  --radius-50: 50px;

  --animate-radixAccordionSlideDown: radixAccordionSlideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes radixAccordionSlideDown {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  --animate-radixAccordionSlideUp: radixAccordionSlideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes radixAccordionSlideUp {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: balance;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

body>header {
  grid-area: header
}

body>main {
  grid-area: main
}

body>footer {
  grid-area: footer
}
